# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Environment
.env
.env.*
!.env.example

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build / cache
.turbo/
.cache/
coverage/
*.tsbuildinfo

# EAS
.eas/
